funcsigs==1.0.2
google-apputils==0.4.1
mock==2.0.0
mox==0.5.3
numpy==1.11.3
pbr==1.8.1
pip==9.0.1
protobuf==3.2.0
python-dateutil==2.5.3
python-gflags==2.0
pytz==2016.6.1
setuptools==30.2.0
six==1.10.0
tensorflow==1.0.0
virtualenv==15.0.3
wheel==0.30.0a0
