appdirs>=1.4.3
funcsigs>=1.0.2
google-apputils>=0.4.1
mock>=2.0.0
mox>=0.5.3
nose2>=0.6.5
numpy>=1.11.3
packaging>=16.8
pbr>=1.8.1
pip>=9.0.1
protobuf>=3.2.0
pyparsing>=2.2.0
python-dateutil>=2.5.3
python-gflags>=2.0
pytz>=2016.6.1
setuptools>=30.2.0
six>=1.10.0
virtualenv>=15.0.3
wheel>=0.30.0a0
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.4.0-cp36-cp36m-linux_x86_64.whl
